@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Hammersmith+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
main {
    /* make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    display: flex;
}

body {
    display: flex;
    align-items: center;
    background: url('../images/mordor.webp') no-repeat center center / cover;
    flex-direction: column;
    background-attachment: fixed;
    height: 100vh;
    justify-content: space-evenly;
}

header {
    background-color: rgb(0 0 0 / 65%);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 20px 2px #ef0000c2;
    display: flex;
    justify-content: center;
    color: #ff1414;
}

p {
    font-size: 11px;
    font-family: "Changa", sans-serif;
    margin: 0px 0px 5px 0px;
}

img {
    height: 185px;
    border: 4px solid;
    filter: brightness(1.5);
}

h1 {
    font-size: 20px;
    font-family: "Hammersmith One", sans-serif;
    margin-top: 0px;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

/*Main game style*/
#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}

#game h2 {
    color: #ff2424;
    margin: 0;
    font-size: 12px;
    background-color: #180303c4;
    border-radius: 5px;
    box-shadow: 0 2px 20px 8px #7d7d7d;
    padding: 2px 5px 2px 5px;
}

.card {
    width: 11vw;
    height: 8vh;
    background-color: #d5cfd491;
    margin: 7px;
    display: block;
    cursor: pointer;
    border: 2.4px solid;
    border-style: inset;
    border-color: #0a0909;
    border-radius: 7px;
}

.row {
    display: flex;
    margin: 10px;
} 

#header-h1 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #e52323;
    font-size: 20px;
}

/*start modal*/
#start-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#start-modal-content {
    background-color: #ededed;
    margin: 1% auto;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #181515;
    border-radius: 20px;
    width: 95%;
    text-align: center;
}

img#intro-image {
    height: 180px;
    width: 200px;
    border: 3px solid;
    margin-top: 15px;
}

button.start-game-btn {
    height: 50px;
    width: 150px;
    font-size: 22px;
    border: 5px solid #40ab52;
    border-radius: 7px;
    background-color: #29e862;
    border-style: groove;
    margin: 1%;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

button#read-rules-btn {
    height: 50px;
    width: 150px;
    font-size: 22px;
    border: 5px solid #4f6fcb;
    border-radius: 7px;
    background-color: #54a6f3;
    border-style: groove;
    margin: 1%;
    cursor: pointer;
    color: black;
}

#intro-h2 {
    padding-top: 1%;
    font-size: 15px;
    font-family: "Changa", sans-serif;
    margin: 10px 0px 10px 0px;
}

/*rules modal*/
#rules {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#rules-content {
    background-color: #ededed;
    margin: 1% auto;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #181515;
    border-radius: 20px;
    width: 95%;
    text-align: center;
    list-style-type: none;
}

#rules li {
    list-style-position: inside;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
}

/*inncorect card selected modal */
#incorrect-card-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #161515e8;
    margin: 2% 10%;
    padding: 20px;
    border: 3px solid #636060;
    border-radius: 5px;
    text-align: center;
}

div#modal-image {
    margin: 2%;
} 

div#modal-message {
    color: red;
    font-size: 18px;
    font-family: "Changa", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px;
}

div#modal-threshold {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

#image-display img {
    width: 150%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

div#image-display {
    margin-top: 150px;
}

button#roll-dice-btn {
    padding: 15px 15px;
    font-size: 25px;
    background-color: #07b812;
    color: black;
    border: 4px solid;
    border-style: groove;
    cursor: pointer;
    border-color: green;
}

/* Dice result*/
#dice-result {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

#dice-result-content { 
        background-color: #161515e8;
        margin: 40% 10%;
        padding: 20px;
        border: 3px solid #636060;
        border-radius: 5px;
        text-align: center;
}

#result {
    color: aliceblue;
    font-size: 17px;
    margin: 70px 0 20px 0;
}

#result-win {
    color: #6bff8c;
    font-size: 17px;
    margin-bottom: 30px;
}

#result-lose {
    color: #ff1c1c;
    font-size: 17px;
    margin-bottom: 30px;
}

/* finish modal style */
#finish-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#finish-modal-content {
    background-color: #ededed;
    margin: 1% auto;
    margin-top: 20px;
    padding: 20px;
    border: 10px solid #181515;
    border-radius: 20px;
    width: 95%;
    text-align: center;
}

#finish-h1 {
    font-size: 20px;
    font-family: "Hammersmith One", sans-serif;
    margin: 20px;
}

#finish-p {
            
    font-size: 15px;
    font-family: "Changa", sans-serif;
    margin: 20px 0px 50px 0px;
}

/* Footer */
footer {
    background-color: rgb(4 4 4 / 76%);
    color: #774343;
    width: 100%;
    height: 40px;
    padding: 0 20%;
    box-shadow: #d70303 1px 1px 6px 1px;
}

li {
    margin: 12px 0 0 0;
}

#contact {
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    list-style-type: none;
}

/* Footer icons*/
.fa-brands.fa-square-instagram {
    color: #ff3939;
    font-size: 20px;
}

.fa-brands.fa-facebook {
    color: #3982ff;
    font-size: 20px;
}

/* Responsive Design for large phones and larger */
@media screen and (min-width: 400px) {

    #game {
        margin-top: 25px;
    }

    .card {
        width: 10vw;
        height: 10vh;
        margin: 5px 15px 5px 15px;
    }

    img#intro-image {
        height: 210px;
        width: 260px;
    }

    h1 {
        font-size: 22px;
    }
    
    #header-h1 {
        font-size: 25px;
    }

    #intro-h2 {
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }

    img {
        height: 205px;
        width: 220px;
    }   

    div#modal-message {
        font-size: 20px;
    }

    #finish-h1 {
        font-size: 25px;
    }

    #finish-p {
        font-size: 16px;
    }

    li {
        margin: 8px 0 0 0;
    }

    .fa-brands.fa-square-instagram {
        font-size: 25px;
    }
    
    .fa-brands.fa-facebook {
        font-size: 25px;
    }

    #dice-result-content {
        margin: 30% 10%;
    }
}

/* Responsive Design for larger phones and larger */
@media screen and (min-width: 550px) {
    .card {
        width: 8vw;
        height: 10vh;
    }

    img#intro-image {
        height: 250px;
        width: 300px;
    }

    h1 {
        font-size: 25px;
    }
    
    #intro-h2 {
        font-size: 18px;
    } 

    p   {
        font-size: 13px;
    }

    img {
        height: 275px;
        width: 300px;
    }

    #finish-h1 {
        font-size: 30px;
    }

    #finish-p {
        font-size: 18px;
    }

    #dice-result-content {
        margin: 25% 10%;
    }
}

/* Responsive Design for larger phones and larger */
@media screen and (min-width: 650px){

    #game {
        margin-top: 40px;
    }

    .card {
        width: 6.8vw;
        height: 10vh;
    }

    #game h2 {
        font-size: 17px;
    }

    li {
        margin: 10px 0 0 0;
    }

    footer {
        height: 45px;
    }

    .fa-brands.fa-square-instagram {
        font-size: 30px;
    }
    
    .fa-brands.fa-facebook {
        font-size: 30px;
    }
}

/* Responsive Design for Tablets and larger */
@media screen and (min-width: 768px) {

    #game {
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .card {
        width: 5.8vw;
        height: 11vh;
        margin: 5px 20px 5px 20px;
    }

    h1 {
        font-size: 27px;
    }

    #start-modal-content {
        width: 85%;
    }

    img#intro-image {
        height: 250px;
        width: 300px;
    }

    img {
        height: 320px;
        width: 345px;
    }

    div#modal-threshold {
        font-size: 18px;
    }

    #game h2 {
        font-size: 20px;
    }

    li {
        margin: 10px 0 10px 0;
    }

    .fa-brands.fa-square-instagram {
        font-size: 30px;
    }

    .fa-brands.fa-facebook {
        font-size: 30px;
    }

    footer {
        height: 60px;
    }

    #dice-result-content {
        margin: 17% 10%;
    }
}

/* Responsive Design for Laptops and larger */
@media screen and (min-width: 992px) {

    #game {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .card {
        width: 6vw;
        height: 12vh;
        margin: 10px 25px 0px 15px;
    }

    #intro-h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    img#intro-image {
        height: 230px;
        width: 270px;
    }

    img {
        height: 320px;
        width: 350px;
    }

    div#modal-message {
        font-size: 22px;
    }

    #win-image {
        margin: 0px 0px 10px 0px
    }

    #finish-h1 {
        font-size: 35px;
    }

    #finish-p {
        font-size: 18px;
    }

    .close {
        font-size: 50px;
    }

    .fa-brands.fa-square-instagram {
        font-size: 40px;
    }
    
    .fa-brands.fa-facebook {
        font-size: 40px;
    }

    #dice-result-content {
        margin: 12% 10%;
    }
}

/* Responsive Design for Large Laptops and larger */
@media screen and (min-width: 1200px) {

    #game {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .card {
        width: 5.2vw;
        height: 14vh;
        margin: 10px 25px 0px 20px;
    }

    img#intro-image {
        height: 270px;
        width: 310px;
    }

    img {
        height: 350px;
        width: 370px;
    } 

    #finish-h1 {
        font-size: 40px;
    }

    #finish-p {
        font-size: 25px;
    }
    #dice-result-content {
        margin: 10% 10%;
    }
}