/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    align-items: center;
    background: url(/assets/images/mordor.webp) no-repeat center center / cover;
    flex-direction: column;
    background-attachment: fixed;
    height: 100vh;
    justify-content: space-evenly;
}

header {
    background-color: rgb(160 138 100 / 90%);
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid;
    box-shadow: 0 2px 13px 0px #ffcd67;
    display: flex;
    justify-content: center;
    color: white;
}

#header-h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #040404; 
    font-size: 20px;
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
}

.card {
    width: 11vw;
    height: 8vh;
    background-color: #d5cfd491;
    margin: 7px;
    display: block;
    cursor: pointer;
    border: 2.4px solid;
    border-style: inset;
    border-color: #0a0909;
    border-radius: 7px;
}

.row {
    display: flex;
    margin: 10px;
}