/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    align-items: center;
    background: url(/assets/images/mordor.webp) no-repeat center center / cover;
    flex-direction: column;
    background-attachment: fixed;
    height: 100vh;
    justify-content: space-evenly;
}

header {
    background-color: rgb(160 138 100 / 90%);
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid;
    box-shadow: 0 2px 13px 0px #ffcd67;
    display: flex;
    justify-content: center;
    color: white;
}

#header-h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #040404; 
    font-size: 20px;
}

#game-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 100px;
}

.card {
    width: 11vw;
    height: 8vh;
    background-color: #d5cfd491;
    margin: 7px;
    display: block;
    cursor: pointer;
    border: 2.4px solid;
    border-style: inset;
    border-color: #0a0909;
    border-radius: 7px;
}

.row {
    display: flex;
    margin: 10px;
} 

#start { 
    font-size: 25px;
    color: #5eff4c;
    margin-top: 10px;
    margin-bottom: 50px;
    letter-spacing: 6px;
}

/* Responsive Design for large phones and larger */

@media screen and (min-width: 400px) {

    .card {
        width: 10vw;
        height: 10vh;
        margin: 5px 15px 5px 15px;
    }

    #header-h1 {
        font-size: 25px;
    }
}

/* Responsive Design for larger phones and larger */
@media screen and (min-width: 550px) {
    .card {
        width: 8vw;
        height: 10vh;
    }
}

/* Responsive Design for larger phones and larger */
@media screen and (min-width: 650px){
    .card {
        width: 6.8vw;
        height: 10vh;
    }
}

/* Responsive Design for Tablets and larger */

@media screen and (min-width: 768px) {
    .card {
        width: 5.8vw;
        height: 11vh;
        margin: 5px 20px 5px 20px;
    }
}

/* Responsive Design for Laptops and larger */

@media screen and (min-width: 992px) {
    .card {
        width: 6vw;
        height: 12vh;
        margin: 10px 25px 0px 15px;
    }

    #start {
        font-size: 25px;
    }
}

 /* Responsive Design for Large Laptops and larger */

 @media screen and (min-width: 1200px) {
    .card {
        width: 5.2vw;
        height: 14vh;
        margin: 10px 25px 0px 20px;
    }
}